<h1> Preparation </h1>
<h2>Step 1. Import data into Postgresql database</h2>
<h3> 1) Geometry data</h3>

ogr2ogr -f "PostgreSQL" "PG:host=localhost user=shin password=****** dbname=spain" "/home/shin/Dropbox/CV/carto/spain_census.shp" -lco GEOMETRY_NAME=geo -lco PRECISION=no -nlt PROMOTE_TO_MULTI -nln geometry -overwrite

<h3> 2) Statistics Data</h3>
<h4> 2-1) Merge Statistics Data files </h4>

In [41]:
import pandas as pd
import glob
filenames = sorted(glob.glob('C2011*.csv'))
frame = pd.DataFrame()
list_ = []
for i in filenames:
    df = pd.read_csv(i, index_col=None, header = 0)
    list_.append(df)
frame = pd.concat(list_)
frame.to_csv("statistics.csv", index=False)
frame.head()

,ccaa,cpro,cmun,dist,secc,t1_1,t2_1,t2_2,t3_1,t3_2,...,t20_7,t20_8,t20_9,t21_1,t22_1,t22_2,t22_3,t22_4,t22_5,t22_6
0,1,4,1,1,1,1460,760.0,695.0,170.0,930.0,...,90.0,80.0,100.0,595.0,140.0,215.0,120.0,85.0,35.0,0.0
1,1,4,2,1,1,1350,700.0,655.0,150.0,870.0,...,135.0,50.0,50.0,550.0,125.0,170.0,145.0,90.0,15.0,0.0
2,1,4,3,1,1,765,325.0,445.0,70.0,590.0,...,NaN,NaN,NaN,295.0,NaN,80.0,NaN,80.0,NaN,NaN
3,1,4,3,1,2,1750,800.0,950.0,335.0,1140.0,...,NaN,NaN,NaN,650.0,105.0,230.0,105.0,175.0,30.0,0.0
4,1,4,3,1,3,1815,780.0,1035.0,470.0,1120.0,...,NaN,NaN,NaN,610.0,50.0,170.0,180.0,170.0,20.0,15.0

<h4>2-2) Import statistics Data into postgresql database </h4>

csvsql --db postgresql://shin:******@localhost:5432/spain --insert /home/shin/Dropbox/CV/carto/census/*.csv

<h2> Step 2. Adding comments in Statistics Data </h2>
*Since column names of statistics data are not human-readable, column description will be added to postgresql as comment using psycopg2 library*

In [62]:
import psycopg2
conn = psycopg2.connect("dbname=spain user=shin host=localhost password=star28pi")
cur = conn.cursor()
#Retrieve Original column names in statistics data
names = frame.columns[5:]

In [63]:
#Retrieve column description
comment = ['ccaa',  'cpro',  'cmun', 'dist',  'secc', 'Total population', 'mens', 'Women', 'Persons under 16 years of age', 'People between 16 (included) and 64 (included) years', 'People over 64 years old', 'People who were born in Spain', 'People who were born in another member state of the EU', 'People who were born in a European country that is not a member of the EU', 'People who were born in Africa', 'People who were born in Central,  South or Caribbean', 'People who were born in North America', 'People who were born in Asia', 'People who were born in Oceania', 'Persons of Spanish nationality who were born in Spain', 'People of foreign nationality who were born in Spain', 'Persons of Spanish nationality who were born in another EU member state', 'Persons of foreign nationality who were born in another member state of the EU', 'Persons of Spanish nationality who were born in a European country that is not a member of the EU', 'Persons of foreign nationality who were born in a European country that is not a member of the EU', 'People of Spanish nationality who were born in Africa', 'Persons of foreign nationality who were born in Africa', 'Persons of Spanish nationality who were born in Central,  South or Caribbean', 'People of foreign nationality who were born in Central,  South or Caribbean America', 'People of Spanish nationality who were born in North America', 'People of foreign nationality who were born in North America', 'People of Spanish nationality who were born in Asia', 'People of foreign nationality who were born in Asia', 'Persons of Spanish nationality who were born in Oceania', 'Persons of foreign nationality who were born in Oceania', 'People of Spanish nationality', 'Persons of foreign nationality', 'Men under 16 years', 'Men between 16 (included) and 64 (included) years', 'Men over 64 years old', 'Women under 16 years', 'Women between 16 (included) and 64 (included) years', 'Women over 64 years old', 'Men with Spanish nationality', 'Men with foreign nationality', 'Women with Spanish nationality', 'Women with foreign nationality', 'Persons of Spanish nationality under 16 years of age', 'Persons of foreign nationality under 16 years of age', 'Persons of Spanish nationality between 16 (included) and 64 (included) years', 'Persons of foreign nationality between 16 (included) and 64 (included) years', 'Persons of Spanish nationality over 64 years of age', 'Persons of foreign nationality over 64 years of age', 'People with single marital status', 'People with marital status married', 'Persons with separated marital status', 'People with divorced status', 'Persons with marital status widowed', 'Persons with single marital status under 16 years', 'Persons with single marital status between 16 (included) and 64 (included) years', 'Persons with single marital status over 64 years', 'Persons with married marital status under 16 years of age', 'People with marital status married between 16 (included) and 64 (included) years', 'Persons with marital status married over 64 years', 'Persons with separated marital status less than 16 years', 'Persons with separated marital status between 16 (included) and 64 (included) years', 'Persons with separated marital status over 64 years of age', 'Persons with divorced status under 16 years of age', 'Persons with civil status divorced between 16 (included) and 64 (included) years', 'Persons with divorced marital status over 64 years of age', 'Persons with marital status under 16 years of age', 'Persons with marital status widowed between 16 (included) and 64 (included) years', 'Persons with marital status widower over 64 years of age', 'Illiterate people', 'People without studies', 'People with first grade studies', 'People with second grade studies', 'People with third degree studies', 'People without information about their level of education (under 16)', 'Illiterate men', 'Illiterate women', 'Men without studies', 'Women without studies', 'Men with first grade studies', 'Women with first grade studies', 'Men with second grade studies', 'Women with second grade studies', 'Men with third grade studies', 'Women with third degree studies', 'Men without information about their level of education (under 16)', 'Women without information about their level of education (under 16)', 'People of Spanish nationality and illiterate', 'Persons of foreign nationality and illiterate', 'Persons of Spanish nationality without studies', 'Persons of foreign nationality without studies', 'Persons of Spanish nationality with first degree studies', 'Persons of foreign nationality with first degree studies', 'Persons of Spanish nationality with second degree studies', 'Persons of foreign nationality with second degree studies', 'Persons of Spanish nationality with third degree studies', 'Persons of foreign nationality with third degree studies', 'Persons of Spanish nationality without information about their level of education (under 16)', 'Persons of foreign nationality without information about their level of education (under 16)', 'People between 16 (included) and 64 (included) years and illiterate', 'People over 64 and illiterate', 'People between 16 (included) and 64 (included) years without studies', 'People with more than 64 years of age without studies', 'People between 16 (included) and 64 (included) years with first grade studies', 'People with more than 64 years of age with first degree studies', 'People between 16 (included) and 64 (included) years with second grade studies', 'People with more than 64 years of age with second degree studies', 'People between 16 (included) and 64 (included) years with third grade studies', 'People with more than 64 years of age with third degree studies', 'Persons under 16 years of age (information on their level of education is not available)', 'Total Housing', 'Main Housing', 'Secondary Housing', 'Empty Homes', 'Property owned,  by purchase,  fully paid', 'Property owned,  by purchase,  with pending payments', 'Dwellings owned,  by inheritance or donation', 'Homes for rent', 'Housing ceded free or at a low price', 'Housing in another type of tenure regime', 'Homes under 30m2', 'Homes between 30-45 m2', 'Homes between 46-60 m2', 'Homes between 61-75 m2', 'Homes between 76-90 m2', 'Homes between 91-105 m2', 'Homes between 106-120 m2', 'Homes between 121-150 m2', 'Homes between 151-180 m2', 'Homes of more than 180 m2', 'Homes with 1 room', 'Homes with 2 rooms', 'Homes with 3 rooms', 'Homes with 4 rooms', 'Homes with 5 rooms', 'Homes with 6 rooms', 'Homes with 7 rooms', 'Homes with 8 rooms', 'Homes with 9 or more rooms', 'Total Homes', 'Households of 1 person', 'Homes of 2 people', 'Households of 3 people', 'Households of 4 people', 'Households of 5 people', 'Households of 6 or more people']

In [45]:
for i,j in zip(names, comment):
    command = "COMMENT ON COLUMN statistics.{} IS '{}';".format(i, j)
    cur.execute(command)

<h1> Task </h1>
<h2> Task 1. Get the percentage of people with university degrees (third-level studies) in a location, given by a point (latitude and longitude) </h2>

+ *Data type replaced from 'character varying' to 'numeric'. Because Data type of column [csec, cdis, cmun, cpro, cca] in the geometry data is 'character varying' while data type of the same columns in the statistics data is 'numeric'. *

alter table geometry alter column csec type numeric using csec::numeric;
alter table geometry alter column cdis type numeric using cdis::numeric;
alter table geometry alter column cmun type numeric using cmun::numeric;
alter table geometry alter column cpro type numeric using cpro::numeric;
alter table geometry alter column cca type numeric using cca::numeric;

+ *Polygons are converted to point covering original polygons using QGIS polygon centroid*
+ *Longitude and Latitude of the point is added to geometry data represented in below screenshot*

<img src="point.png" alt="Point" width="1000"/>

+ *Below postgresql statement is to obtain a table with latitude, longitude and percentage of people with university degree*

SELECT geometry.lat AS Latitude, geometry.lon AS Longitude, ROUND( 100 * ( statistics.t12_5/statistics.t1_1 ), 2 ) AS Percentage_of_University_Degree
FROM statistics, geometry
WHERE statistics.ccaa = geometry.cca AND statistics.cpro = geometry.cpro AND statistics.cmun = geometry.cmun AND statistics.dist = geometry.cdis AND statistics.secc = geometry.csec

<img src="percentage.png" alt="percentage" width="1000"/>

<h2> Task 2. Get a listing of all the measures/indicators available in our database, with human-readable names.</h2>

+ *Retrieved column comments in Statistics data*

SELECT (SELECT col_description(a.attrelid, a.attnum)) AS COMMENT
FROM
    pg_catalog.pg_class c
    inner join pg_catalog.pg_attribute a on a.attrelid = c.oid
WHERE
    c.relname = 'statistics'

<img src="comment.png" alt="Comment" width="1000"/>

<h2> Task 3. Given a database table with provinces (you can download it from the census: http://www.ine.es/daco/daco42/clasificaciones/codprov.xls), write a query that would add a column with the population.</h2>

+ *save xls file as csv for UTF-8 coding and import it to database*

csvsql --db postgresql://shin:star28pi@localhost:5432/spain --insert province.csv

#Add a population column 
ALTER TABLE province
ADD COLUMN population numeric;

#Update population Value per province
UPDATE province
SET population=(select SUM(s.t1_1)
             FROM statistics s
             WHERE codigo=s.cpro
             GROUP BY s.cpro);

<img src="pop.png" alt="Population" width="400"/>